<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/sweetalert2/dist/sweetalert2.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/elastislide.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/es6-promise/promise.js"></script>
    <script src="/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script src="/lib/modernizr/src/Modernizr.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/js/checkForm.js"></script>
    <script src="/js/gallery.js"></script>
    <script src="/js/jquery.elastislide.js"></script>
    <script src="/js/jquery.tmpl.min.js"></script>
    <!-- endinject -->
    <!-- inline scripts --->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script>
        $(window).load(function () {
            // Animate loader off screen
            setTimeout(function () {
                $(".se-pre-con").fadeOut("slow");
            }, 400);

        });
    </script>
    <script>
        history.pushState(null, null, document.title);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.title);
        });
    </script>
    <!-- endinlinescript -->

    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <div class="se-pre-con"></div>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <% for(var i=0 ;i<nav.length;i++){%>
                        <li>
                            <a href="<%=nav[i].Link%>">
                                <%=nav[i].Text%>
                            </a>
                        </li>
                        <%}%>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li>
                        <a href="/Auth/logOut">Log Out</a>
                    </li>
                    <li class="dropdown">
                        <a href="/Search" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                        <ul class="dropdown-menu" style="padding:12px; background:white">
                            <form class="form-inline" action="/Search">
                                <div class="container">
                                    <div class="row pad-btm-40">
                                        <div class="span16">
                                            <div class="spaceEmOut">
                                                <fieldset class="switch switch-two">
                                                    <legend>Search</legend>
                                                    <input id="title" name="option" type="radio" value="title" checked />
                                                    <label for="title">Title</label>
                                                    <input id="author" name="option" type="radio" value="author" />
                                                    <label for="author">Author</label>
                                                    <span class="switch-button"></span>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" class="form-control pull-left" onblur="if (this.value == '') {this.value = 'Search Library';}" name="q" placeholder="Search Library" required>
                                <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button>

                            </form>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <!--/stories-->
                        <div class="main">
                            <form name="addBook" action="/Admin/addBook" method="post">
                                <ul class="left-form" style="list-style-type:none">
                                    <h2>Add Book to Library</h2>
                                    <script>
                                        <% if (temp == 1) { %>
                                        swal("Book added", "", "success");
                                        <%}%>
                                    </script>
                                    <li>
                                        <input title="Enter Book title" type="text" placeholder="Book Title" name="bookName" autocomplete="off" required/>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <input title="Enter genre" type="text" placeholder="Book Genre" name="genre" autocomplete="off" required/>
                                        <div class="clear"> </div>
                                    </li>
                                    <li>
                                        <input title="Enter Book Author" type="text" placeholder="Book Author" name="author" autocomplete="off" required/>
                                        <div class="clear"> </div>
                                    </li>
                                    <input type="submit" value="Add Books">
                                    <div class="clear"> </div>
                                </ul>
                            </form>
                            <form name="signInForm" action="/Admin/removeBook" method="post">
                                <ul class="right-form">

                                    <h3>Remove Books</h3>
                                    <h4>Select from your added books that you want to remove</h4>
                                    <br>
                                    <script>
                                        <% if (temp == 0) { %>
                                        swal("Book removed", "", "success");
                                        <%}%>
                                    </script>
                                    <div>
                                        <br>
                                        <br>
                                        <li>

                                            <select name="id">
                                                <% for(var i=0 ;i<books.length;i++){
    if(books[i].user===user.username){%>
                                                    <option value="<%=books[i]._id%>">
                                                        <%=books[i].title%>
                                                    </option>
                                                    <%}}%>
                                            </select>
                                        </li>
                                        <h4>Once the Book is removed, it cannot be retrived back</h4>
                                        <input type="submit" value="Remove">
                                    </div>
                                    <div class="clear"> </div>
                                </ul>
                                <div class="clear"> </div>

                            </form>

                        </div>
                        <!-----start-copyright---->
                        <div class="copy-right">
                            <p>© Copyright 2016 Library </p>
                        </div>
                        <!-----//end-copyright---->


                        <!--/stories-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/col-12-->

    <hr>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><i class="icon-facebook icon-2x"></i></li>
                        <li><i class="icon-twitter icon-2x"></i></li>
                        <li><i class="icon-google-plus icon-2x"></i></li>
                        <li><i class="icon-pinterest icon-2x"></i></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <p class="pull-right">Shubham Singh<i class="icon-heart-empty"></i>
                        <a href="http://www.bootply.com"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>